/* This source code is exported from pxCode, you can get more document from https://www.pxcode.io */
.registro-entrevista-block {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
}
.registro-entrevista-block.layout {
  position: relative;
  overflow: hidden;
  min-height: 1370px;
  flex-shrink: 0;
}
.registro-entrevista-block10 {
  display: flex;
  flex-direction: column;
  background: var(--src) center center/contain no-repeat;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2470588235);
  filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.2));
}
.registro-entrevista-block10.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}
.registro-entrevista-flex {
  display: flex;
}
.registro-entrevista-flex.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 75.31%;
  margin: 21px auto;
}
.registro-entrevista-flex-item {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 186px;
}
.registro-entrevista-image2 {
  background: var(--src) center center/contain no-repeat;
}
.registro-entrevista-image2.layout {
  position: relative;
  height: 61px;
  margin: 30px 0px 0px;
}
.registro-entrevista-flex-spacer {
  flex: 0 1 41px;
}
.registro-entrevista-flex-item1 {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 118px;
}
.registro-entrevista-image1 {
  background: var(--src) center center/contain no-repeat;
}
.registro-entrevista-image1.layout {
  position: relative;
  height: 39px;
  width: 118px;
  min-width: 118px;
  margin: 35px 0px 17px;
}
.registro-entrevista-flex-spacer1 {
  flex: 0 1 708px;
}
.registro-entrevista-highlights4 {
  display: flex;
  justify-content: flex-end;
  font: 700 19px/1.39 "Montserrat", Helvetica, Arial, serif;
  color: rgb(0, 0, 0);
  text-align: right;
  letter-spacing: 0px;
}
.registro-entrevista-highlights4.layout {
  position: relative;
  flex: 0 0 auto;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 39px 0px 25px;
}
.registro-entrevista-flex-spacer2 {
  flex: 0 1 96px;
}
.registro-entrevista-flex-spacer3 {
  flex: 0 1 81px;
}
.registro-entrevista-highlights4.layout1 {
  position: relative;
  flex: 0 0 auto;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 39px 3px 25px 0px;
}
.registro-entrevista-flex1 {
  display: flex;
}
.registro-entrevista-flex1.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 74.58%;
  margin: 85px auto 0px;
}
.registro-entrevista-flex1-item {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 1 1 625px;
}
.registro-entrevista-hero-title-box.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}
.registro-entrevista-hero-title {
  overflow: visible;
  margin-top: 0px;
  margin-bottom: 0px;
  margin: 0px;
  font: 700 58px/1.27 "Montserrat", Helvetica, Arial, serif;
  color: rgb(0, 0, 0);
  letter-spacing: 0px;
  white-space: pre-wrap;
}
.registro-entrevista-hero-title-span0 {
  font: 700 1em/1.27 "Montserrat", Helvetica, Arial, serif;
  color: #14192c;
  letter-spacing: 0px;
}
.registro-entrevista-hero-title-span1 {
  font: 700 1em/1.27 "Montserrat", Helvetica, Arial, serif;
  color: #0065ef;
  letter-spacing: 0px;
}
.registro-entrevista-flex1-spacer {
  flex: 0 1 20px;
}
.registro-entrevista-flex1-item1 {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 629px;
}
.registro-entrevista-flex2 {
  display: flex;
  flex-direction: column;
}
.registro-entrevista-flex2.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 0px 0px 14px;
}
.registro-entrevista-highlights2-box.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}
.registro-entrevista-highlights2 {
  overflow: visible;
  margin-top: 0px;
  margin-bottom: 0px;
  margin: 0px;
  font: 700 19px/1.39 "Montserrat", Helvetica, Arial, serif;
  color: rgb(20, 25, 44);
  letter-spacing: 0px;
  white-space: pre-wrap;
}
.registro-entrevista-block2 {
  display: flex;
  background-color: rgb(248, 248, 248);
  border-radius: 10px 10px 10px 10px;
}
.registro-entrevista-block2.layout {
  position: relative;
  overflow: hidden;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 19px 0px 0px;
}
.registro-entrevista-highlights3 {
  display: flex;
  align-items: center;
  font: 19px/1.39 "Montserrat", Helvetica, Arial, serif;
  color: rgb(107, 109, 111);
  letter-spacing: 0px;
}
.registro-entrevista-highlights3.layout {
  position: relative;
  flex: 0 0 auto;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 24px 0px 23px 25px;
}
.registro-entrevista-block2-spacer {
  flex: 0 1 452px;
}
.registro-entrevista-highlights3.layout1 {
  position: relative;
  flex: 0 0 auto;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 24px 29px 23px 0px;
}
.registro-entrevista-highlights21 {
  display: flex;
  justify-content: flex-end;
  font: 700 19px/1.39 "Montserrat", Helvetica, Arial, serif;
  color: rgb(20, 25, 44);
  text-align: right;
  letter-spacing: 0px;
}
.registro-entrevista-highlights21.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 10.1%;
  margin: 26px auto 0px;
}
.registro-entrevista-flex3 {
  display: flex;
}
.registro-entrevista-flex3.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 74.58%;
  margin: 18px auto 0px;
}
.registro-entrevista-flex3-item {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 1 1 490px;
}
.registro-entrevista-highlights {
  font: 600 15px/2.13 "Montserrat", Helvetica, Arial, serif;
  color: rgb(20, 25, 44);
  letter-spacing: 0px;
}
.registro-entrevista-highlights.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 0px 0px 10px;
}
.registro-entrevista-flex3-spacer {
  flex: 0 1 155px;
}
.registro-entrevista-flex3-item1 {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 629px;
}
.registro-entrevista-block3 {
  display: flex;
  background-color: rgb(248, 248, 248);
  border-radius: 10px 10px 10px 10px;
}
.registro-entrevista-block3.layout {
  position: relative;
  overflow: hidden;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}
.registro-entrevista-highlights31-box {
  display: flex;
  align-items: center;
}
.registro-entrevista-highlights31-box.layout {
  position: relative;
  flex: 0 0 auto;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 24px 0px 23px 25px;
}
.registro-entrevista-highlights31 {
  overflow: visible;
  margin-top: 0px;
  margin-bottom: 0px;
  margin: 0px;
  font: 19px/1.39 "Montserrat", Helvetica, Arial, serif;
  color: rgb(107, 109, 111);
  letter-spacing: 0px;
  white-space: pre-wrap;
}
.registro-entrevista-block3-spacer {
  flex: 0 1 373px;
}
.registro-entrevista-block3-item {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 53px;
}
.registro-entrevista-icon {
  background: var(--src) center center/contain no-repeat;
}
.registro-entrevista-icon.layout {
  position: relative;
  height: 24px;
  width: 24px;
  min-width: 24px;
  margin: 25px 29px 25px 0px;
}
.registro-entrevista-highlights22 {
  display: flex;
  justify-content: flex-end;
  font: 700 19px/1.39 "Montserrat", Helvetica, Arial, serif;
  color: rgb(20, 25, 44);
  text-align: right;
  letter-spacing: 0px;
}
.registro-entrevista-highlights22.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 17.81%;
  margin: 40px auto 0px;
}
.registro-entrevista-block4 {
  display: flex;
  flex-direction: column;
  background-color: rgb(248, 248, 248);
  border-radius: 10px 10px 10px 10px;
}
.registro-entrevista-block4.layout {
  position: relative;
  overflow: hidden;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 32.76%;
  margin: 19px 20.94% 0px 46.3%;
}
.registro-entrevista-highlights3.layout2 {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 22px 25px 25px;
}
.registro-entrevista-highlights23-box {
  display: flex;
  justify-content: flex-end;
}
.registro-entrevista-highlights23-box.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 11.46%;
  margin: 40px auto 0px;
}
.registro-entrevista-highlights23 {
  overflow: visible;
  margin-top: 0px;
  margin-bottom: 0px;
  margin: 0px;
  font: 700 19px/1.39 "Montserrat", Helvetica, Arial, serif;
  color: rgb(20, 25, 44);
  text-align: right;
  letter-spacing: 0px;
  white-space: pre-wrap;
}
.registro-entrevista-flex4 {
  display: flex;
}
.registro-entrevista-flex4.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 75%;
  margin: 19px auto 0px;
}
.registro-entrevista-flex4-item {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 54px;
}
.registro-entrevista-block6 {
  display: flex;
  flex-direction: column;
  background-color: rgb(196, 196, 196);
  border-radius: 27px 27px 27px 27px;
}
.registro-entrevista-block6.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 11px 0px 9px;
}
.registro-entrevista-highlights24 {
  display: flex;
  justify-content: center;
  font: 700 19px/1.39 "Montserrat", Helvetica, Arial, serif;
  color: rgb(20, 25, 44);
  text-align: center;
  letter-spacing: 0px;
}
.registro-entrevista-highlights24.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 13px 20.5px 14px;
}
.registro-entrevista-flex4-spacer {
  flex: 0 1 152px;
}
.registro-entrevista-block7 {
  display: flex;
  flex-direction: column;
  background-color: rgb(196, 196, 196);
  border-radius: 27px 27px 27px 27px;
}
.registro-entrevista-block7.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 11px 0px 9px;
}
.registro-entrevista-highlights41 {
  display: flex;
  justify-content: center;
  font: 700 19px/1.39 "Montserrat", Helvetica, Arial, serif;
  color: rgb(0, 0, 0);
  text-align: center;
  letter-spacing: 0px;
}
.registro-entrevista-highlights41.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 13px 19px 14px;
}
.registro-entrevista-block8 {
  display: flex;
  flex-direction: column;
  background-color: rgb(0, 101, 239);
  border-radius: 27px 27px 27px 27px;
}
.registro-entrevista-block8.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 11px 0px 9px;
}
.registro-entrevista-highlights5 {
  display: flex;
  justify-content: center;
  font: 700 19px/1.39 "Montserrat", Helvetica, Arial, serif;
  color: rgb(255, 255, 255);
  text-align: center;
  letter-spacing: 0px;
}
.registro-entrevista-highlights5.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 13px 19px 14px;
}
.registro-entrevista-flex4-spacer1 {
  flex: 0 1 183px;
}
.registro-entrevista-flex4-item1 {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 629px;
}
.registro-entrevista-block2.layout1 {
  position: relative;
  overflow: hidden;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}
.registro-entrevista-block2-spacer1 {
  flex: 0 1 334px;
}
.registro-entrevista-highlights3.layout3 {
  position: relative;
  flex: 0 0 auto;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 24px 29px 23px 0px;
}
.registro-entrevista-flex5 {
  display: flex;
}
.registro-entrevista-flex5.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 72.92%;
  margin: 17px auto 0px;
}
.registro-entrevista-flex5-item {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 13px;
}
.registro-entrevista-cover-block {
  display: flex;
  flex-direction: column;
  background: var(--src) center center/contain no-repeat;
}
.registro-entrevista-cover-block.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}
.registro-entrevista-icon1 {
  background: var(--src) center center/contain no-repeat;
}
.registro-entrevista-icon1.layout {
  position: relative;
  height: 13px;
  width: 13px;
  min-width: 13px;
}
.registro-entrevista-flex5-spacer {
  flex: 0 1 90px;
}
.registro-entrevista-highlights25 {
  display: flex;
  justify-content: flex-end;
  font: 700 19px/1.39 "Montserrat", Helvetica, Arial, serif;
  color: rgb(20, 25, 44);
  text-align: right;
  letter-spacing: 0px;
}
.registro-entrevista-highlights25.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 32.4%;
  margin: 10px auto 0px;
}
.registro-entrevista-block5 {
  display: flex;
  flex-direction: column;
  background-color: rgb(248, 248, 248);
  border-radius: 10px 10px 10px 10px;
}
.registro-entrevista-block5.layout {
  position: relative;
  overflow: hidden;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 32.76%;
  margin: 19px 20.94% 0px 46.3%;
}
.registro-entrevista-highlights3.layout4 {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 22px 25px 186px;
}
.registro-entrevista-group {
  display: flex;
  flex-direction: column;
}
.registro-entrevista-group.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 30.83%;
  margin: 84px auto;
}
.registro-entrevista-block1 {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(31, 31, 31);
}
.registro-entrevista-block1.layout {
  position: absolute;
  top: 13px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  bottom: 0px;
  left: 493px;
  right: 5px;
}
.registro-entrevista-highlights1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font: 600 15px/2.13 "Montserrat", Helvetica, Arial, serif;
  color: rgb(30, 30, 30);
  text-align: center;
  letter-spacing: 0px;
}
.registro-entrevista-highlights1.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  min-width: 0px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 10px auto 0px;
}
.registro-entrevista-block9 {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(0, 101, 239);
}
.registro-entrevista-block9.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 13px 0px 0px 488px;
}
.registro-entrevista-highlights6 {
  display: flex;
  align-items: center;
  justify-content: center;
  font: 600 15px/2.13 "Montserrat", Helvetica, Arial, serif;
  color: rgb(0, 101, 239);
  text-align: center;
  letter-spacing: 0px;
}
.registro-entrevista-highlights6.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  min-width: 0px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 10px auto 0px;
}