<!DOCTYPE html>
<html>
  <!--  This source code is exported from pxCode, you can get more document from https://www.pxcode.io  -->
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link
      rel="stylesheet"
      type="text/css"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/aos@2.3.1/dist/aos.css" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('moduleIndex.static',filename='styles/commonAbout.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('moduleIndex.static',filename='styles/fontsAbout.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('moduleIndex.static',filename='styles/About.css') }}" />

    <script type="text/javascript" src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script type="text/javascript" src="https://unpkg.com/headroom.js@0.12.0/dist/headroom.min.js"></script>
  </head>

  <body style="display: flex; flex-direction: column">
    <div class="about about-group layout1">
      <div style="--src:url(../5c33cb096e73972af8a3c25597da6441.png)" class="about-decorator1 layout"></div>
      <main class="about-main layout">
        <!-- ======= section1 ======= -->
        <section class="about-section1__section1 layout">
          <div class="about-section1__flex layout">
            <div
              style="--src:url(../c18419313d1c7b731b8fa702c7925fe2.png)"
              class="about-section1__cover-block1 layout"
            >
              <div class="about-section1__flex1 layout">
                <div class="about-section1__flex1-item">
                  <div class="about-section1__flex2 layout">
                    <h1 class="about-section1__hero-title1 layout">Lo que opinan las empresas</h1>
                    <div class="about-section1__group layout">
                      <div class="about-section1__cover-block layout">
                        <div
                          style="--src:url(../f274e1866812c99dc57c9a437b2ce19f.png)"
                          class="about-section1__image3 layout"
                        ></div>
                      </div>
                      <div
                        style="--src:url(../2af8b8ee52443787b343d1fcfa10fe90.png)"
                        class="about-section1__cover2 layout"
                      ></div>
                    </div>
                  </div>
                </div>
                <div class="about-section1__flex1-spacer"></div>
                <div class="about-section1__flex1-item1">
                  <div class="about-section1__block6 layout">
                    <h4 class="about-section1__highlights2 layout">Log in</h4>
                    <div class="about-section1__block7 layout">
                      <h5 class="about-section1__highlights3 layout">Usuario</h5>
                      <hr class="about-section1__line1 layout" />
                    </div>
                    <div class="about-section1__block8 layout">
                      <h5 class="about-section1__highlights3 layout">Contraseña</h5>
                      <hr class="about-section1__line1 layout1" />
                    </div>
                    <div class="about-section1__block9 layout">
                      <h5 class="about-section1__highlights4 layout">Entrar</h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <img src="../moduleIndex/static/0d6ea77af63c426b1ad8f7562dd0f0e3.png" alt="" class="about-section1__img layout" />
          </div>
          <div style="--src:url(../b5e3e53790c33bda439f1f98ce9884d4.png)" class="about-section1__block10 layout">
            <div class="about-section1__flex7 layout">
              <div class="about-section1__flex7-item">
                <div
                  style="--src:url(../347cc57567b0d9a74ae1712ffb9b06e5.png)"
                  class="about-section1__image8 layout"
                ></div>
              </div>
              <div class="about-section1__flex7-spacer"></div>
              <div class="about-section1__flex7-item1">
                <div
                  style="--src:url(../786120d75ae90243ce620fe344692ac2.png)"
                  class="about-section1__image9 layout"
                ></div>
              </div>
              <div class="about-section1__flex7-spacer1"></div>
              <h4 class="about-section1__highlights21-box layout">
                <pre class="about-section1__highlights21">
About
</pre
                >
              </h4>
              <div class="about-section1__flex7-spacer2"></div>
              <h4 class="about-section1__highlights22 layout">Log in</h4>
            </div>
          </div>
        </section>
        <!-- ======= End section1 ======= -->

        <div class="about-group layout">
          <div style="--src:url(../e57ec77b13e2f7c7378892b029e494b9.png)" class="about-decorator layout"></div>
          <div class="about-group layout">
            <div style="--src:url(../aca1775fbff544862fda63425237b19e.png)" class="about-cover1 layout"></div>
            <!-- ======= section2 ======= -->
            <section class="about-section2__section2 layout">
              <h1 class="about-section2__hero-title2 layout">Participantes</h1>
              <h4 class="about-section2__highlights2-box layout">
                <pre class="about-section2__highlights2">¿Quienes vendrana  aconocer a los alumnos de U-tad?</pre>
              </h4>
              <hr class="about-section2__line layout" />
              <div class="about-section2__flex3 layout">
                <div class="about-section2__flex3-item">
                  <div
                    style="--src:url(../922628e9bcb48337468a8f68f47ecaa8.png)"
                    class="about-section2__image6 layout"
                  ></div>
                </div>
                <div class="about-section2__flex3-item1">
                  <div
                    style="--src:url(../e25f205cbd0259fa7090be5fcf9ef8cb.png)"
                    class="about-section2__image4 layout"
                  ></div>
                </div>
                <div class="about-section2__flex3-spacer"></div>
                <div class="about-section2__flex3-item2">
                  <div
                    style="--src:url(../ad5915f1ac4814af65bebccb43cc8db5.png)"
                    class="about-section2__image5 layout"
                  ></div>
                </div>
                <div class="about-section2__flex3-spacer1"></div>
                <div class="about-section2__flex3-item3">
                  <div
                    style="--src:url(../06644b88943920e80ee357cda4797d33.png)"
                    class="about-section2__image4 layout"
                  ></div>
                </div>
                <div class="about-section2__flex3-spacer2"></div>
                <div class="about-section2__flex3-item4">
                  <div
                    style="--src:url(../e4643d5b47a591a2e28b06c9c6e66d92.png)"
                    class="about-section2__image4 layout"
                  ></div>
                </div>
                <div class="about-section2__flex3-spacer3"></div>
                <div class="about-section2__flex3-item">
                  <div
                    style="--src:url(../6cf1686067dc8fb8eca88f462c6cc961.png)"
                    class="about-section2__image6 layout"
                  ></div>
                </div>
              </div>
              <h1 class="about-section2__hero-title-box layout">
                <pre class="about-section2__hero-title">
El company day
te espera</pre
                >
              </h1>
              <div class="about-section2__flex5 layout">
                <div class="about-section2__flex5-item">
                  <h4 class="about-section2__highlights1-box layout">
                    <div class="about-section2__highlights1">
                      <span class="about-section2__highlights1-span0">Para empresas</span
                      ><span class="about-section2__highlights1-span1"> (Deadline October 5th)</span>
                    </div>
                  </h4>
                </div>
                <div class="about-section2__flex5-spacer"></div>
                <div class="about-section2__flex5-item">
                  <h4 class="about-section2__highlights11 layout">Estudiantes y alumni</h4>
                </div>
              </div>
              <div class="about-section2__flex4 layout">
                <div class="about-section2__flex4-item">
                  <div class="about-section2__block5 layout">
                    <h5 class="about-section2__highlights layout">SIGN UP</h5>
                  </div>
                </div>
                <div class="about-section2__flex4-spacer"></div>
                <div class="about-section2__flex4-item1">
                  <div class="about-section2__block4 layout">
                    <h5 class="about-section2__highlights layout">CONSULTAR</h5>
                  </div>
                </div>
              </div>
              <hr class="about-section2__line layout1" />
              <div class="about-section2__group layout">
                <div class="about-section2__flex6 layout">
                  <div class="about-section2__flex6-item">
                    <div
                      style="--src:url(../f5350295f81ce800a70a05a7bd14365b.png)"
                      class="about-section2__image1 layout"
                    ></div>
                  </div>
                  <div class="about-section2__flex6-item1">
                    <div
                      style="--src:url(../701df139048a29b7037d02ec67e34343.png)"
                      class="about-section2__image2 layout"
                    ></div>
                  </div>
                </div>
              </div>
            </section>
            <!-- ======= End section2 ======= -->

          </div>
        </div>
      </main>
    </div>
    <script type="text/javascript">
      AOS.init();
    </script>
  </body>
</html>
