
<!DOCTYPE html>
<html>
  <!--  This source code is exported from pxCode, you can get more document from https://www.pxcode.io  -->
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://unpkg.com/aos@2.3.1/dist/aos.css"
    />
    <link rel="stylesheet" type="text/css" href="{{ url_for('moduleIndex.static',filename='styles/commonPepe.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('moduleIndex.static',filename='styles/fontsPepe.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('moduleIndex.static',filename='styles/Pepe.css') }}" />

    <script
      type="text/javascript"
      src="https://unpkg.com/aos@2.3.1/dist/aos.js"
    ></script>
    <script
      type="text/javascript"
      src="https://unpkg.com/headroom.js@0.12.0/dist/headroom.min.js"
    ></script>
    <script src="https://cdn.jsdelivr.net/gh/px2code/posize/build/v1.00.3.js"></script>
  </head>

  <body style="display: flex; flex-direction: column">
    <main class="pepe pepe-main layout">
      <div class="pepe-group layout">
        <div class="pepe-group layout">
          <!-- ======= section1 ======= -->
          <section class="pepe-section1__section1 layout">
            <div
              style="--src:url(../32ecb9f30cded4414dca0fda9e036ef4.png)"
              class="pepe-section1__group layout"
            >
              <div class="pepe-section1__flex layout">
                <div class="pepe-section1__flex-item">
                  <div
                    style="--src:url(../24295e55ff9f7cba5e6aa650a29d97cc.png)"
                    class="pepe-section1__image1 layout"
                  ></div>
                </div>
                <div class="pepe-section1__flex-spacer"></div>
                <div class="pepe-section1__flex-item1">
                  <div
                    style="--src:url(../b32abb70456c59aecc50c24fdb5a5ba0.png)"
                    class="pepe-section1__image2 layout"
                  ></div>
                </div>
                <div class="pepe-section1__flex-spacer1"></div>
                <div class="pepe-section1__flex-item2">
                  <h4 class="pepe-section1__highlights-box layout">
                    <pre class="pepe-section1__highlights">
                      <a href="{{url_for('moduleIndex.about')}}">About</a>
                      </pre>
                  </h4>
                </div>
                <div class="pepe-section1__flex-spacer2"></div>
                <div class="pepe-section1__flex-item3">
                  <h4 class="pepe-section1__highlights1 layout"><a href="{{url_for('moduleLoginPass.login')}}">Log In</a></h4>
                </div>
              </div>
            </div>
            <div class="pepe-section1__group1 layout">
              <div class="pepe-section1__group2 layout">
                <img
                  src="../moduleIndex/static/ebb66f78683c2f76f4c48285dda0b2aa.jpg"
                  alt="alt text"
                  class="pepe-section1__image12 layout"
                />
                <div
                  style="--src:url(../c9a365e27bc84951f5943db54105d53e.png)"
                  class="pepe-section1__decorator3 layout"
                ></div>
              </div>
            </div>
            <div class="pepe-section1__flex1 layout">
              <div class="pepe-section1__flex1-item">
                <h4 class="pepe-section1__highlights5-box layout">
                  <div class="pepe-section1__highlights5">
                    <span class="pepe-section1__highlights5-span0"
                      >Para empresas</span
                    ><span class="pepe-section1__highlights5-span1">
                      (Deadline October 5th)</span
                    >
                  </div>
                </h4>
              </div>
              <div class="pepe-section1__flex1-spacer"></div>
              <div class="pepe-section1__flex1-item">
                <h4 class="pepe-section1__highlights51 layout">
                  Estudiantes y alumni
                </h4>
              </div>
            </div>
            <div class="pepe-section1__flex2 layout">
              <div class="pepe-section1__flex2-item">
                <div class="pepe-section1__block6 layout">
                  <h5 class="pepe-section1__highlights11 layout"><a href="{{url_for('moduleLoginPass.signup')}}">SIGN UP</a></h5>
                </div>
              </div>
              <div class="pepe-section1__flex2-spacer"></div>
              <div class="pepe-section1__flex2-item1">
                <div class="pepe-section1__block1 layout">
                  <h5 class="pepe-section1__highlights12 layout"><a href="https://u-tad.com/en/company-day/">CONSULTAR</a></h5>
                </div>
              </div>
            </div>
          </section>
          <!-- ======= End section1 ======= -->

          <div
            style="--src:url(../63e829ebb24fbd5229bbdfef633e75c1.png)"
            class=" "
          ></div>
        </div>
        <div
          style="--src:url(../f292ff337fb7e6f9178a82637e53ea23.png)"
          class=" "
        ></div>
      </div>
      <!-- ======= section2 ======= -->
      <section class="pepe-section2__section2 layout">
        <div
          style="--src:url(../ca4881dec6ac322c4a0d7341732a26f7.png)"
          class="pepe-section2__decorator1 layout"
        ></div>
        <div class="pepe-section2__flex3 layout">
          <div class="pepe-section2__group layout">
            <div class="pepe-section2__flex4 layout">
              <div class="pepe-section2__flex4-item">
                <div
                  style="--src:url(../e014f6565e747241e62fec82cad77ba6.png)"
                  class="pepe-section2__cover-group layout"
                >
                  <div
                    style="--src:url(../f27d0970d7b75be74ea2c7efee8efb0e.png)"
                    class="pepe-section2__image3 layout"
                  ></div>
                  <h1 class="pepe-section2__hero-title layout">
                    ¿En que consiste el CompanyDay?
                  </h1>
                </div>
              </div>
              <div class="pepe-section2__flex4-spacer"></div>
              <div class="pepe-section2__flex4-item1">
                <div class="pepe-section2__flex5 layout">
                  <h5 class="pepe-section2__highlights1-box layout">
                    <pre class="pepe-section2__highlights1">
Un evento organizado por U-tad con el objetivo de poner en contacto a las empresas más punteras con nuestro mejor talento, ambos especializados en nuestras principales áreas formativas: Animación 3D, 2D y VFX, Diseño Digital, Ingeniería del Software, Matemáticas y Realidades Extendidas, Videojuegos y Productos Interactivos. </pre
                    >
                  </h5>
                  <div class="pepe-section2__block3 layout">
                    <h5 class="pepe-section2__highlights3 layout">
                      Anteriores eventos
                    </h5>
                  </div>
                </div>
              </div>
            </div>
            <div
              style="--src:url(../5d27df9d4d11943d3018bebee8eaaaeb.png)"
              class="pepe-section2__group1 layout"
            >
              <div
                style="--src:url(../d8ed83071584d635406e3769be462953.png)"
                class="pepe-section2__decorator5 layout"
              ></div>
            </div>
          </div>
          <h1 class="pepe-section2__hero-title2 layout">Participantes</h1>
          <h4 class="pepe-section2__highlights-box layout">
            <pre class="pepe-section2__highlights">
¿Quienes vendran a conocer a los alumnos de U-tad?</pre
            >
          </h4>
          <div class="pepe-section2__flex6 layout">
            <div class="pepe-section2__flex6-item">
              <div
                style="--src:url(../2a4c47f63a1a684d7ae7c27b1990c43e.png)"
                class="pepe-section2__image6 layout"
              ></div>
            </div>
            <div class="pepe-section2__flex6-spacer"></div>
            <div class="pepe-section2__flex6-item1">
              <div
                style="--src:url(../29bafd0359c7a9e80be23d12aabe1c37.png)"
                class="pepe-section2__image7 layout"
              ></div>
            </div>
            <div class="pepe-section2__flex6-spacer1"></div>
            <div class="pepe-section2__flex6-item">
              <div
                style="--src:url(../04867da554de6fac4ccd0ec2746b5b7e.png)"
                class="pepe-section2__image6 layout"
              ></div>
            </div>
            <div class="pepe-section2__flex6-spacer2"></div>
            <div class="pepe-section2__flex6-item">
              <div
                style="--src:url(../7b169f18be0052b06551dade78501f34.png)"
                class="pepe-section2__image6 layout"
              ></div>
            </div>
            <div class="pepe-section2__flex6-spacer3"></div>
            <div class="pepe-section2__flex6-item2">
              <div
                style="--src:url(../1fb369de5e6ad12b253237ee1d2c790b.png)"
                class="pepe-section2__image8 layout"
              ></div>
            </div>
          </div>
        </div>
        <div
          style="--src:url(../513f9176be63a3a996459973712fe334.png)"
          class="pepe-section2__decorator2 layout"
        ></div>
      </section>
      <comment content="======= End section2 =======" break="true"></comment
      ><!-- ======= section3 ======= -->
      <section class="pepe-section3__section3 layout">
        <div class="pepe-section3__flex7 layout">
          <h1 class="pepe-section3__hero-title1-box layout">
            <pre class="pepe-section3__hero-title1">Participa en... </pre>
          </h1>
          <div
            style="--src:url(../c05f2783fbb9e0a881db89962a41fda3.png)"
            class="pepe-section3__cover-block1 layout"
          >
            <div
              style="--src:url(../35aba4a55544396bf7773f7285681966.png)"
              class="pepe-section3__cover-group1 layout"
            >
              <div class="pepe-section3__flex22 layout">
                <div class="pepe-section3__flex22-item">
                  <div
                    style="--src:url(../8508d1d35b63e19bcdc79f362a799664.png)"
                    class="pepe-section3__icon1 layout"
                  ></div>
                </div>
                <div class="pepe-section3__flex22-spacer"></div>
                <div class="pepe-section3__flex22-item1">
                  <div
                    style="--src:url(../51c74d326630a64a1cb1aa4e19e8939c.png)"
                    class="pepe-section3__icon1 layout1"
                  ></div>
                </div>
              </div>
            </div>
            <div class="pepe-section3__flex8 layout">
              <h1 class="pepe-section3__hero-title layout">
                FERIA DE EMPRESAS
              </h1>
              <h5 class="pepe-section3__highlights6 layout">
                El principal punto de encuentro del evento, un espacio donde
                empresas y el talento U-tad podrán darse a conocer, charlar
                sobre sus proyectos y ponerse en valor.
              </h5>
              <div class="pepe-section3__flex9 layout">
                <div class="pepe-section3__flex9-item">
                  <div
                    style="--src:url(../02577a3ff446155032be0a8962f1d4d8.png)"
                    class="pepe-section3__cover-block layout"
                  >
                    <div
                      style="--src:url(../386a129abe7ec06463b99e001ea7b4d3.png)"
                      class="pepe-section3__icon layout"
                    ></div>
                  </div>
                </div>
                <div class="pepe-section3__flex9-spacer"></div>
                <div class="pepe-section3__flex9-item1">
                  <h5 class="pepe-section3__highlights7-box layout">
                    <pre class="pepe-section3__highlights7">
THU NOV 18TH | 10:00 AM - 7:00 PM
U-TAD, ROMA BUILDING</pre
                    >
                  </h5>
                </div>
                <div class="pepe-section3__flex9-spacer1"></div>
                <div class="pepe-section3__flex9-item2">
                  <div class="pepe-section3__block2 layout">
                    <h5 class="pepe-section3__highlights2 layout">
                      DESCARGAR AGENDA
                    </h5>
                  </div>
                </div>
              </div>
              <div class="pepe-section3__group layout1">
                <div class="pepe-section3__box1 layout"></div>
                <div class="pepe-section3__flex10 layout">
                  <div class="pepe-section3__flex10-item">
                    <div class="pepe-section3__group layout">
                      <div class="pepe-section3__box2 layout"></div>
                      <div
                        style="--src:url(../7b7d144ff0d82d8daafb60880c4dc0c6.png)"
                        class="pepe-section3__icon1 layout2"
                      ></div>
                    </div>
                  </div>
                  <div class="pepe-section3__flex10-spacer"></div>
                  <div class="pepe-section3__flex10-item">
                    <div class="pepe-section3__group layout">
                      <div class="pepe-section3__box layout"></div>
                      <div
                        style="--src:url(../fc910800302f08e6787911cb11848727.png)"
                        class="pepe-section3__icon1 layout3"
                      ></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="pepe-section3__flex11 layout">
            <div class="pepe-section3__flex11-item">
              <div class="pepe-section3__block5 layout1">
                <div class="pepe-section3__block4 layout">
                  <h4 class="pepe-section3__highlights4 layout">
                    FERIA DE EMPRESAS
                  </h4>
                </div>
                <h4 class="pepe-section3__highlights4 layout1"><a href="{{url_for('moduleIndex.M_MenuSpeedMeeting')}}">SPEEDMEETING</a></h4>
              </div>
            </div>
            <div class="pepe-section3__flex11-spacer"></div>
            <div class="pepe-section3__flex11-item">
              <div class="pepe-section3__block5 layout2">
                <div class="pepe-section3__block5 layout">
                  <h4 class="pepe-section3__highlights4 layout">
                    <a href="{{url_for('moduleIndex.M_PresentacionDeProyectos')}}">MenuPresentacionDeProyectos</a>
                  </h4>
                </div>
                <h4 class="pepe-section3__highlights4 layout2"><a href="{{url_for('moduleIndex.M_charlas')}}">CHARLAS</a></h4>
              </div>
            </div>
          </div>
        </div>
      </section>
      <comment content="======= End section3 =======" break="true"></comment
      ><!-- ======= section4 ======= -->
      <section class="pepe-section4__section4 layout">
        <div class="pepe-section4__flex12 layout">
          <div class="pepe-section4__flex12-item">
            <div class="pepe-section4__flex13 layout">
              <div class="pepe-section4__block7 layout">
                <h1 class="pepe-section4__big-title-box layout">
                  <pre
                    class="pepe-section4__big-title"
                  ><span class="pepe-section4__big-title-span0">DISEÑO

</span><span class="pepe-section4__big-title-span1">Director de arte
Diseñador gráfico
Maquetador web
Brand digital development
Editor audiovisual
                    </span></pre>
                </h1>
              </div>
              <div class="pepe-section4__block8 layout">
                <h1 class="pepe-section4__big-title1-box layout">
                  <pre
                    class="pepe-section4__big-title"
                  ><span class="pepe-section4__big-title1-span0">DISEÑO

</span><span class="pepe-section4__big-title1-span1">Director de arte
Diseñador gráfico
Maquetador web
Brand digital development
Editor audiovisual
                    </span></pre>
                </h1>
              </div>
            </div>
          </div>
          <div class="pepe-section4__flex13-item">
            <div class="pepe-section4__flex14 layout">
              <h1 class="pepe-section4__hero-title1-box layout">
                <pre class="pepe-section4__hero-title1">
Los protagonistas
</pre
                >
              </h1>
              <h4 class="pepe-section4__highlights layout">
                Quienes son los alumnos
              </h4>
              <div class="pepe-section4__flex15 layout">
                <div class="pepe-section4__flex15-item">
                  <div class="pepe-section4__block9 layout">
                    <h5 class="pepe-section4__highlights3-box layout">
                      <pre
                        class="pepe-section4__highlights3"
                      ><span class="pepe-section4__highlights3-span0">Director de arte
Diseñador gráfico
Maquetador web
Brand digital development
Editor audiovisual


</span><span class="pepe-section4__highlights3-span1">VIDEOJUEGOS</span><span class="pepe-section4__highlights3-span2">               </span></pre>
                    </h5>
                  </div>
                </div>
                <div class="pepe-section4__flex15-item">
                  <div class="pepe-section4__block12 layout">
                    <h1 class="pepe-section4__big-title1-box layout1">
                      <pre
                        class="pepe-section4__big-title"
                      ><span class="pepe-section4__big-title1-span0">ANIMACIÓN

</span><span class="pepe-section4__big-title1-span1">Director de arte
Diseñador gráfico
Maquetador web
Brand digital development
Editor audiovisual
                    </span></pre>
                    </h1>
                  </div>
                </div>
              </div>
              <div class="pepe-section4__flex16 layout">
                <div class="pepe-section4__flex16-item">
                  <div class="pepe-section4__block11 layout">
                    <h5 class="pepe-section4__highlights31-box layout">
                      <pre
                        class="pepe-section4__highlights3"
                      ><span class="pepe-section4__highlights31-span0">Director de arte
Diseñador gráfico
Maquetador web
Brand digital development
Editor audiovisual


</span><span class="pepe-section4__highlights31-span1">VIDEOJUEGOS</span><span class="pepe-section4__highlights31-span2">               </span></pre>
                    </h5>
                  </div>
                </div>
                <div class="pepe-section4__flex16-item">
                  <div class="pepe-section4__block8 layout">
                    <h1 class="pepe-section4__big-title1-box layout">
                      <pre
                        class="pepe-section4__big-title"
                      ><span class="pepe-section4__big-title1-span0">DISEÑO

</span><span class="pepe-section4__big-title1-span1">Director de arte
Diseñador gráfico
Maquetador web
Brand digital development
Editor audiovisual
                    </span></pre>
                    </h1>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="pepe-section4__flex16-item1">
            <div class="pepe-section4__flex17 layout">
              <div class="pepe-section4__flex17-item">
                <div
                  style="--src:url(../4be0c3b3978602a243b48bae3c5c4672.png)"
                  class="pepe-section4__cover-block2 layout"
                >
                  <px-posize
                    track-style='{"flexGrow":1}'
                    x="0px 360fr 0px"
                    y="0px minmax(360px,360fr) 0fr"
                    ><div class="pepe-section4__block10">
                      <px-posize
                        track-style='{"flexGrow":1}'
                        x="30px 250fr 80fr"
                        y="21px minmax(309px,309fr) 30fr"
                        lg-x="30px 250fr 80fr"
                        lg-y="18px minmax(309px,309fr) 26fr"
                        md-x="30px 250fr 80fr"
                        md-y="16px minmax(309px,309fr) 22fr"
                        sm-x="30px 250fr 80fr"
                        sm-y="13px minmax(309px,309fr) 19fr"
                        xs-x="30px 250fr 80fr"
                        xs-y="12px minmax(309px,309fr) 17fr"
                        xxs-x="30px 250fr 80fr"
                        xxs-y="11px minmax(309px,309fr) 15fr"
                        tn-x="30px 250fr 80fr"
                        tn-y="10px minmax(309px,309fr) 14fr"
                        ><h5 class="pepe-section4__highlights7-box">
                          <pre
                            class="pepe-section4__highlights7"
                          ><span class="pepe-section4__highlights7-span0">Director de arte
Diseñador gráfico
maquetador web
Brand digital development



</span><span class="pepe-section4__highlights7-span1">INGENIERIA
DE SOFTWARE</span><span class="pepe-section4__highlights7-span2">               </span></pre></h5
                      ></px-posize></div
                  ></px-posize>
                </div>
              </div>
              <px-posize x="0px 360fr 0px" y="0px minmax(360px,360fr) 0fr"
                ><div class="pepe-section4__block111">
                  <h5 class="pepe-section4__highlights31-box layout1">
                    <pre
                      class="pepe-section4__highlights3"
                    ><span class="pepe-section4__highlights31-span0">Director de arte
Diseñador gráfico
maquetador web
Brand digital development
Editor audiovisual


</span><span class="pepe-section4__highlights31-span1">VIDEOJUEGOS</span><span class="pepe-section4__highlights31-span2">               </span></pre>
                  </h5></div
              ></px-posize>
            </div>
          </div>
        </div>
      </section>
      <comment content="======= End section4 =======" break="true"></comment
      ><!-- ======= section5 ======= -->
      <section class="pepe-section5__section5 layout">
        <div class="pepe-section5__group layout">
          <div
            style="--src:url(../aca1775fbff544862fda63425237b19e.png)"
            class="pepe-section5__decorator layout"
          ></div>
          <div class="pepe-section5__flex18 layout">
            <div class="pepe-section5__flex18-item">
              <div
                style="--src:url(../f5350295f81ce800a70a05a7bd14365b.png)"
                class="pepe-section5__image4 layout"
              ></div>
            </div>
            <div class="pepe-section5__flex18-spacer"></div>
            <div class="pepe-section5__flex18-item1">
              <div class="pepe-section5__flex19 layout">
                <h1 class="pepe-section5__hero-title1-box layout">
                  <pre class="pepe-section5__hero-title1">
El company day
te espera</pre
                  >
                </h1>
                <div class="pepe-section5__flex1 layout">
                  <div class="pepe-section5__flex1-item">
                    <h4 class="pepe-section5__highlights5-box layout">
                      <div class="pepe-section5__highlights5">
                        <span class="pepe-section5__highlights5-span0"
                          >Para empresas</span
                        ><span class="pepe-section5__highlights5-span1">
                          (Deadline October 5th)</span
                        >
                      </div>
                    </h4>
                  </div>
                  <div class="pepe-section5__flex1-spacer"></div>
                  <div class="pepe-section5__flex1-item">
                    <h4 class="pepe-section5__highlights51 layout">
                      Estudiantes y alumni
                    </h4>
                  </div>
                </div>
                <div class="pepe-section5__flex2 layout">
                  <div class="pepe-section5__flex2-item">
                    <div class="pepe-section5__block6 layout">
                      <h5 class="pepe-section5__highlights1 layout"><a href="{{url_for('moduleLoginPass.signup')}}">SIGN UP</a></h5>
                    </div>
                  </div>
                  <div class="pepe-section5__flex2-spacer"></div>
                  <div class="pepe-section5__flex2-item1">
                    <div class="pepe-section5__block1 layout">
                      <h5 class="pepe-section5__highlights1 layout">
                        <a href="https://u-tad.com/en/company-day/">CONSULTAR</a>
                      </h5>
                    </div>
                  </div>
                </div>
                <div
                  style="--src:url(../701df139048a29b7037d02ec67e34343.png)"
                  class="pepe-section5__image5 layout"
                ></div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- ======= End section5 ======= -->

    </main>
    <script type="text/javascript">
      AOS.init();
    </script>
  </body>
</html>
