<!DOCTYPE html>
<html>
  <!--  This source code is exported from pxCode, you can get more document from https://www.pxcode.io  -->
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link
      rel="stylesheet"
      type="text/css"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/aos@2.3.1/dist/aos.css" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('moduleIndex.static',filename='styles/commonPortalEmpresas.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('moduleIndex.static',filename='styles/fontsPortalEmpresas.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('moduleIndex.static',filename='styles/PortalEmpresas.css') }}" />

    <script type="text/javascript" src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script type="text/javascript" src="https://unpkg.com/headroom.js@0.12.0/dist/headroom.min.js"></script>
  </head>

  <body style="display: flex; flex-direction: column">
    <div class="portal-empresas portal-empresas-block layout">
      <div class="portal-empresas-flex layout">
        <div class="portal-empresas-flex1 layout">
          <div class="portal-empresas-flex1-item">
            <div
              style="--src:url(../658d2a9a77dbf2f6244441bc8915c685.png)"
              class="portal-empresas-image3 layout"
            ></div>
          </div>
          <div class="portal-empresas-flex1-spacer"></div>
          <div class="portal-empresas-flex1-item1">
            <div
              style="--src:url(../b8f5e6e51d305718a88bed29430a7675.png)"
              class="portal-empresas-image2 layout"
            ></div>
          </div>
          <div class="portal-empresas-flex1-spacer1"></div>
          <h4 class="portal-empresas-highlights layout">Home</h4>
          <div class="portal-empresas-flex1-spacer2"></div>
          <h4 class="portal-empresas-highlights layout">Log in</h4>
          <div class="portal-empresas-flex1-spacer3"></div>
          <h4 class="portal-empresas-highlights layout">Sign up</h4>
        </div>
        <div class="portal-empresas-block7 layout">
          <h4 class="portal-empresas-highlights5 layout">Busca empresas</h4>
        </div>
        <div class="portal-empresas-flex2 layout">
          <div class="portal-empresas-flex2-item">
            <article class="portal-empresas-block1 layout">
              <h4 class="portal-empresas-highlights1 layout">Sector</h4>
              <div class="portal-empresas-block1-spacer"></div>
              <h4 class="portal-empresas-highlights1 layout1">v</h4>
            </article>
          </div>
          <div class="portal-empresas-flex2-item1">
            <article class="portal-empresas-block2 layout">
              <h4 class="portal-empresas-highlights11 layout">Tipo de empresa</h4>
              <div class="portal-empresas-block2-spacer"></div>
              <h4 class="portal-empresas-highlights1 layout2">v</h4>
            </article>
          </div>
          <div class="portal-empresas-flex2-item2">
            <article class="portal-empresas-block3 layout">
              <h4 class="portal-empresas-highlights12-box layout">
                <pre class="portal-empresas-highlights12">Actividad participante </pre>
              </h4>
              <div class="portal-empresas-block3-spacer"></div>
              <h4 class="portal-empresas-highlights1 layout3">v</h4>
            </article>
          </div>
          <div class="portal-empresas-flex2-item3">
            <article class="portal-empresas-block4 layout">
              <h4 class="portal-empresas-highlights1 layout">Día</h4>
              <div class="portal-empresas-block4-spacer"></div>
              <h4 class="portal-empresas-highlights1 layout4">v</h4>
            </article>
          </div>
        </div>
        <div class="portal-empresas-flex3 layout">
          <h4 class="portal-empresas-highlights1 layout5">Últimas</h4>
          <div class="portal-empresas-flex3-spacer"></div>
          <h4 class="portal-empresas-highlights2 layout">A - Z</h4>
        </div>
        <img src="../moduleIndex/static/3ac0dbe529a5a0b5323556ec57effd9d.png" alt="" class="portal-empresas-img layout" />
        <div style="--src:url(../2511386e7a94a034bc2ea9320a0ac60f.png)" class="portal-empresas-image layout"></div>
      </div>
    </div>
    <script type="text/javascript">
      AOS.init();
    </script>
  </body>
</html>
