<!DOCTYPE html>
<html>
  <!--  This source code is exported from pxCode, you can get more document from https://www.pxcode.io  -->
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link
      rel="stylesheet"
      type="text/css"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/aos@2.3.1/dist/aos.css" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('moduleLoginPass.static',filename='styles/commonPerfil.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('moduleLoginPass.static',filename='styles/fontsPerfil.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('moduleLoginPass.static',filename='styles/Perfil.css') }}" />

    <script type="text/javascript" src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script type="text/javascript" src="https://unpkg.com/headroom.js@0.12.0/dist/headroom.min.js"></script>
  </head>

  <body style="display: flex; flex-direction: column">
    <div class="perfil perfil-block layout">
      <div style="--src:url(../61c4f9de2ae4a7d9bec49e75413c50cd.png)" class="perfil-block5 layout">
        <div class="perfil-flex layout">
          <div class="perfil-flex-item">
            <div style="--src:url(../af876bc3fded671e316a0bd731fad459.png)" class="perfil-image2 layout"></div>
          </div>
          <div class="perfil-flex-spacer"></div>
          <div class="perfil-flex-item1">
            <div style="--src:url(../e15bd8776328f69120ea4083e03f8a85.png)" class="perfil-image1 layout"></div>
          </div>
          <div class="perfil-flex-spacer1"></div>
          <h4 class="perfil-highlights5 layout">Home</h4>
          <div class="perfil-flex-spacer2"></div>
          <h4 class="perfil-highlights5 layout">Log in</h4>
          <div class="perfil-flex-spacer3"></div>
          <h4 class="perfil-highlights5 layout1">Sign up</h4>
        </div>
      </div>
      <div class="perfil-flex1 layout">
        <div class="perfil-flex1-item">
          <img src="../moduleLoginPass/static/7d533b20c1d41eea4b992741396cd0e8.png" alt="" class="perfil-img layout" />
        </div>
        <div class="perfil-flex1-spacer"></div>
        <div class="perfil-flex1-item1">
          <div class="perfil-flex2 layout">
            <h1 class="perfil-big-title1 layout">Eventos en los que participa</h1>
            <div class="perfil-block1 layout">
              <div class="perfil-block2 layout"><h4 class="perfil-highlights layout">Entrevistas</h4></div>
              <div class="perfil-block3 layout"><h4 class="perfil-highlights1 layout">+ APUNTARSE A MAS</h4></div>
            </div>
          </div>
        </div>
      </div>
      <div class="perfil-flex3 layout">
        <div class="perfil-flex3-item">
          <div class="perfil-block4 layout"><h5 class="perfil-highlights2 layout">Editar información</h5></div>
        </div>
        <div class="perfil-flex3-spacer"></div>
        <div class="perfil-flex3-item1">
          <div style="--src:url(../4c4a137dfaf0e3d931b43d225c475133.png)" class="perfil-image3 layout"></div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      AOS.init();
    </script>
  </body>
</html>
