<!DOCTYPE html>
<html>
  <!--  This source code is exported from pxCode, you can get more document from https://www.pxcode.io  -->
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link
      rel="stylesheet"
      type="text/css"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/aos@2.3.1/dist/aos.css" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('moduleLoginPass.static',filename='styles/commonRegistroEvento.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('moduleLoginPass.static',filename='styles/fontsRegistroEvento.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('moduleLoginPass.static',filename='styles/RegistroEvento.css') }}" />

    <script type="text/javascript" src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script type="text/javascript" src="https://unpkg.com/headroom.js@0.12.0/dist/headroom.min.js"></script>
  </head>

  <body style="display: flex; flex-direction: column">
    <div class="registro-evento registro-evento-block layout">
      <div style="--src:url(../386a129abe7ec06463b99e001ea7b4d3.png)" class="registro-evento-block6 layout">
        <div class="registro-evento-flex layout">
          <div class="registro-evento-flex-item">
            <div
              style="--src:url(../af876bc3fded671e316a0bd731fad459.png)"
              class="registro-evento-image2 layout"
            ></div>
          </div>
          <div class="registro-evento-flex-spacer"></div>
          <div class="registro-evento-flex-item1">
            <div
              style="--src:url(../e15bd8776328f69120ea4083e03f8a85.png)"
              class="registro-evento-image1 layout"
            ></div>
          </div>
          <div class="registro-evento-flex-spacer1"></div>
          <h4 class="registro-evento-highlights3 layout">Home</h4>
          <div class="registro-evento-flex-spacer2"></div>
          <h4 class="registro-evento-highlights3 layout">Log in</h4>
          <div class="registro-evento-flex-spacer3"></div>
          <h4 class="registro-evento-highlights3 layout1">Sign up</h4>
        </div>
      </div>
      <h1 class="registro-evento-hero-title layout">Evento en el que participar</h1>
      <div class="registro-evento-flex1 layout">
        <div class="registro-evento-flex1-item">
          <h5 class="registro-evento-highlights-box layout">
            <pre class="registro-evento-highlights">
Para participar en ecompany Day la empresa interesada tiene que participar en una de las 4 actividades propuestas. Una vez completados ambos registros, de la empresa y de la actividad puede participarse en las demás actividades siguiendo el mismo registro. </pre
            >
          </h5>
        </div>
        <div class="registro-evento-flex1-spacer"></div>
        <div class="registro-evento-flex1-item1">
          <div class="registro-evento-block1 layout">
            <div class="registro-evento-block2 layout">
              <div class="registro-evento-block2-item">
                <div
                  style="--src:url(../e72647585d69d02e877b413db9a18404.png)"
                  class="registro-evento-block3 layout"
                >
                  <div
                    style="--src:url(../ec5b309d302b74cfd468cca6cbd076aa.png)"
                    class="registro-evento-icon1 layout"
                  ></div>
                </div>
              </div>
              <div class="registro-evento-block2-spacer"></div>
              <h4 class="registro-evento-highlights1 layout">Entrevistas</h4>
            </div>
            <div class="registro-evento-block4 layout">
              <div class="registro-evento-block4-item">
                <div
                  style="--src:url(../e72647585d69d02e877b413db9a18404.png)"
                  class="registro-evento-icon layout"
                ></div>
              </div>
              <div class="registro-evento-block4-spacer"></div>
              <h4 class="registro-evento-highlights1 layout">Entrevistas</h4>
            </div>
            <div class="registro-evento-block4 layout">
              <div class="registro-evento-block4-item">
                <div
                  style="--src:url(../e72647585d69d02e877b413db9a18404.png)"
                  class="registro-evento-icon layout"
                ></div>
              </div>
              <div class="registro-evento-block4-spacer"></div>
              <h4 class="registro-evento-highlights1 layout">Entrevistas</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="registro-evento-flex2 layout">
        <div class="registro-evento-flex2-item">
          <div class="registro-evento-flex3 layout">
            <div class="registro-evento-block8 layout"><h4 class="registro-evento-highlights5 layout">1</h4></div>
            <div
              style="--src:url(../1843c3cefe57b736716512d14315dc8f.png)"
              class="registro-evento-cover-block layout"
            >
              <div
                style="--src:url(../5cce7d811aed08e4284afd9d7cc80cd3.png)"
                class="registro-evento-icon2 layout"
              ></div>
            </div>
          </div>
        </div>
        <div class="registro-evento-flex2-spacer"></div>
        <div class="registro-evento-flex2-item1">
          <div
            style="--src:url(../1843c3cefe57b736716512d14315dc8f.png)"
            class="registro-evento-icon2 layout1"
          ></div>
        </div>
        <div class="registro-evento-flex2-spacer1"></div>
        <div class="registro-evento-flex2-item">
          <div class="registro-evento-flex4 layout">
            <div class="registro-evento-block9 layout"><h4 class="registro-evento-highlights6 layout">2</h4></div>
            <div
              style="--src:url(../1843c3cefe57b736716512d14315dc8f.png)"
              class="registro-evento-icon2 layout2"
            ></div>
          </div>
        </div>
        <div class="registro-evento-flex2-spacer"></div>
        <div class="registro-evento-flex2-item2">
          <div
            style="--src:url(../1843c3cefe57b736716512d14315dc8f.png)"
            class="registro-evento-icon2 layout3"
          ></div>
        </div>
        <div class="registro-evento-flex2-spacer2"></div>
        <div class="registro-evento-flex2-item">
          <div class="registro-evento-flex4 layout">
            <div class="registro-evento-block9 layout"><h4 class="registro-evento-highlights6 layout">3</h4></div>
            <div
              style="--src:url(../1843c3cefe57b736716512d14315dc8f.png)"
              class="registro-evento-icon2 layout4"
            ></div>
          </div>
        </div>
        <div class="registro-evento-flex2-spacer3"></div>
        <div class="registro-evento-flex2-item3">
          <div class="registro-evento-group layout">
            <div class="registro-evento-block5 layout">
              <h5 class="registro-evento-highlights2 layout">Siguiente</h5>
            </div>
            <div class="registro-evento-block7 layout">
              <h5 class="registro-evento-highlights4 layout">SIGUIENTE</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      AOS.init();
    </script>
  </body>
</html>
