<!DOCTYPE html>
<html>
  <!--  This source code is exported from pxCode, you can get more document from https://www.pxcode.io  -->
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link
      rel="stylesheet"
      type="text/css"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/aos@2.3.1/dist/aos.css" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('moduleLoginPass.static',filename='styles/commonRegistroDatosEmpresa.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('moduleLoginPass.static',filename='styles/fontsRegistroDatosEmpresa.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('moduleLoginPass.static',filename='styles/RegistroDatosEmpresa.css') }}" />

    <script type="text/javascript" src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script type="text/javascript" src="https://unpkg.com/headroom.js@0.12.0/dist/headroom.min.js"></script>
  </head>

  <body style="display: flex; flex-direction: column">
    <div class="registro-datos-empresa registro-datos-empresa-block layout">
      <div style="--src:url(../9a125cf88596a03184f61eb455d5a774.png)" class="registro-datos-empresa-block6 layout">
        <div class="registro-datos-empresa-flex layout">
          <div class="registro-datos-empresa-flex-item">
            <div
              style="--src:url(../af876bc3fded671e316a0bd731fad459.png)"
              class="registro-datos-empresa-image2 layout"
            ></div>
          </div>
          <div class="registro-datos-empresa-flex-spacer"></div>
          <div class="registro-datos-empresa-flex-item1">
            <div
              style="--src:url(../e15bd8776328f69120ea4083e03f8a85.png)"
              class="registro-datos-empresa-image1 layout"
            ></div>
          </div>
          <div class="registro-datos-empresa-flex-spacer1"></div>
          <h4 class="registro-datos-empresa-highlights4 layout">Home</h4>
          <div class="registro-datos-empresa-flex-spacer2"></div>
          <h4 class="registro-datos-empresa-highlights4 layout">Log in</h4>
          <div class="registro-datos-empresa-flex-spacer3"></div>
          <h4 class="registro-datos-empresa-highlights4 layout1">Sign up</h4>
        </div>
      </div>
      <div class="registro-datos-empresa-flex1 layout">
        <div class="registro-datos-empresa-flex1-item">
          <div class="registro-datos-empresa-flex2 layout">
            <h1 class="registro-datos-empresa-hero-title layout">Evento en el que participar</h1>
            <h5 class="registro-datos-empresa-highlights-box layout">
              <pre class="registro-datos-empresa-highlights">
Necesitamos información para poder registrar la empresa en el evento. Estos datos de la empresa pueden editarse más adelante desde el perfil si es necesario
</pre
              >
            </h5>
          </div>
        </div>
        <div class="registro-datos-empresa-flex1-spacer"></div>
        <div class="registro-datos-empresa-flex1-item1">
          <div class="registro-datos-empresa-flex3 layout">
            <h4 class="registro-datos-empresa-highlights1-box layout">
              <pre class="registro-datos-empresa-highlights1">
Nombre
</pre
              >
            </h4>
            <div class="registro-datos-empresa-block1 layout">
              <h4 class="registro-datos-empresa-highlights2 layout">Nombre de la empresa</h4>
            </div>
            <div class="registro-datos-empresa-block1 layout1">
              <h4 class="registro-datos-empresa-highlights2 layout">Contraseña</h4>
            </div>
            <h4 class="registro-datos-empresa-highlights11 layout">Datos de contacto</h4>
          </div>
        </div>
      </div>
      <div class="registro-datos-empresa-block1 layout2">
        <h4 class="registro-datos-empresa-highlights2 layout">E-mail de contacto</h4>
      </div>
      <div class="registro-datos-empresa-block1 layout3">
        <h4 class="registro-datos-empresa-highlights2 layout">Telefono de contacto</h4>
      </div>
      <div class="registro-datos-empresa-flex4 layout">
        <div class="registro-datos-empresa-flex4-item">
          <div class="registro-datos-empresa-block8 layout">
            <h4 class="registro-datos-empresa-highlights12 layout">1</h4>
          </div>
        </div>
        <div class="registro-datos-empresa-flex4-spacer"></div>
        <div class="registro-datos-empresa-flex4-item">
          <div class="registro-datos-empresa-block9 layout">
            <h4 class="registro-datos-empresa-highlights6 layout">2</h4>
          </div>
        </div>
        <div class="registro-datos-empresa-flex4-spacer"></div>
        <div class="registro-datos-empresa-flex4-item">
          <div class="registro-datos-empresa-block10 layout">
            <h4 class="registro-datos-empresa-highlights7 layout">3</h4>
          </div>
        </div>
        <div class="registro-datos-empresa-flex4-spacer1"></div>
        <div class="registro-datos-empresa-flex4-item1">
          <div class="registro-datos-empresa-block5 layout">
            <h4 class="registro-datos-empresa-highlights2 layout1">Provincia</h4>
          </div>
        </div>
        <div class="registro-datos-empresa-flex4-spacer2"></div>
        <div class="registro-datos-empresa-flex4-item2">
          <div class="registro-datos-empresa-block5 layout">
            <h4 class="registro-datos-empresa-highlights2 layout2">Codigo postal</h4>
          </div>
        </div>
      </div>
      <div class="registro-datos-empresa-flex5 layout">
        <div class="registro-datos-empresa-flex5-item">
          <div
            style="--src:url(../1843c3cefe57b736716512d14315dc8f.png)"
            class="registro-datos-empresa-cover-block layout"
          >
            <div
              style="--src:url(../45c340093f6f4159d23f620df554f1ea.png)"
              class="registro-datos-empresa-icon layout"
            ></div>
          </div>
        </div>
        <div class="registro-datos-empresa-flex5-spacer"></div>
        <div class="registro-datos-empresa-flex5-item">
          <div
            style="--src:url(../45c340093f6f4159d23f620df554f1ea.png)"
            class="registro-datos-empresa-icon layout1"
          ></div>
        </div>
        <div class="registro-datos-empresa-flex5-spacer"></div>
        <div class="registro-datos-empresa-flex5-item">
          <div
            style="--src:url(../8342a475aadf7160ec42cba25cae4384.png)"
            class="registro-datos-empresa-icon layout2"
          ></div>
        </div>
        <div class="registro-datos-empresa-flex5-spacer"></div>
        <div class="registro-datos-empresa-flex5-item">
          <div
            style="--src:url(../1843c3cefe57b736716512d14315dc8f.png)"
            class="registro-datos-empresa-icon layout3"
          ></div>
        </div>
        <div class="registro-datos-empresa-flex5-spacer"></div>
        <div class="registro-datos-empresa-flex5-item">
          <div
            style="--src:url(../1843c3cefe57b736716512d14315dc8f.png)"
            class="registro-datos-empresa-icon layout4"
          ></div>
        </div>
        <div class="registro-datos-empresa-flex5-spacer1"></div>
        <div class="registro-datos-empresa-flex5-item1">
          <div class="registro-datos-empresa-block1 layout4">
            <h4 class="registro-datos-empresa-highlights2 layout">País</h4>
          </div>
        </div>
      </div>
      <h4 class="registro-datos-empresa-highlights13 layout">Datos de empresa</h4>
      <div class="registro-datos-empresa-block1 layout5">
        <h4 class="registro-datos-empresa-highlights2 layout">Url de la empresa o pagina de la empresa</h4>
      </div>
      <div class="registro-datos-empresa-block2 layout">
        <h4 class="registro-datos-empresa-highlights2 layout3">Logo de la empresa</h4>
        <div class="registro-datos-empresa-block2-spacer"></div>
        <div class="registro-datos-empresa-block2-item">
          <div class="registro-datos-empresa-block3 layout">
            <div class="registro-datos-empresa-block4 layout">
              <h1 class="registro-datos-empresa-big-title layout">+</h1>
            </div>
            <h4 class="registro-datos-empresa-highlights3 layout">Añadir archivo</h4>
          </div>
        </div>
      </div>
      <div class="registro-datos-empresa-block7 layout">
        <h5 class="registro-datos-empresa-highlights5 layout">SIGUIENTE</h5>
      </div>
    </div>
    <script type="text/javascript">
      AOS.init();
    </script>
  </body>
</html>
